name: MLflow CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r MLProject/requirements.txt

    - name: Clean previous MLflow runs
      run: rm -rf MLProject/mlruns

    - name: Clear old run ID
      run: unset MLFLOW_RUN_ID

    - name: Set MLflow Tracking URI
      run: export MLFLOW_TRACKING_URI=$GITHUB_WORKSPACE/MLProject/mlruns

    - name: Run MLProject
      working-directory: MLProject
      run: mlflow run . --env-manager local