name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas

      - name: Set MLflow Tracking URI
        run: export MLFLOW_TRACKING_URI=$GITHUB_WORKSPACE/mlruns

      - name: Run modelling.py
        run: |
          cd MLProject
          python -c "import os; os.environ.pop('MLFLOW_RUN_ID', None)"
          python modelling.py